.keywords {
	 margin: 8px;
    color: fb593a;
    font-weight: 500;
    font-size: 18px;
    padding: 2px 4px;
    border-radius: 6px;
    cursor: pointer;
}

.keywords:hover {
    background: rgba(0,0,0,0.1);
	
}

#loader {
	position: absolute; 
	height: 160px;
	top: 0;
	left: 50%;
	margin-left: -80px
}

.trend-arrow {
	font-size: 12px;
    margin-left: 3px;
}