#map_canvas {
  height: 100%;
  width: 100%;
  /*width: 400px;*/

}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  outline: none;
  text-overflow: ellipsis;
  width: 400px;
}
