@charset "utf-8";
* {
	margin:0px;
	padding:0px;	
}
body {
	font-family:Arial, Helvetica, sans-serif;
}
p {
	font-family:Arial, Helvetica, sans-serif;
}
.container {
	width:999px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
}
.header {
	width:999px;
	height:80px;
	border-bottom-width:1px;
	border-bottom-color:gray;
	border-bottom-style:solid;
	margin:auto;
}
.logo {
	float:left;
}
.navigation {
	float:left;
	margin-top:55px;
	margin-right:20px;
	margin-left: 40px;
}
.banner {
	clear:both;
	padding-top:10px;
}
.maincontent {
	margin:auto;
}
.footer {
	height:220px;
	
	background-color:#D3D3D3;
	padding:0px;
}
.textheading {
	float:left;
	color:#ff0000;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.detail {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	width:200px;
}
.newline {
	clear:both;
	height:20px;
}
.navigation a:link {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px 10px 0px 10px;
	font-size:15px;
	color: gray;
}
.navigation a:visited {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px 10px 0px 10px;
	font-size:15px;
	color: gray;
}
.navigation a:hover {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0px 10px 0px 10px;
	font-size:15px;
	color: gray;
}
.rightimage {
	float:right;
	width:300px;
}
.lefttext {
	float:left;	
	width:300px;
}
.categories {
	margin-bottom:15px;	
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;	
}
.error {
	color:#ff0000;
}


div#carousel { 
  perspective: 1200px; 
  background: white; 
  padding-top: 10%; 
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 425px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); }
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span { 
  color: gray; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }


<TD style="border-left: 2px solid gray; padding: 5px;">

.maincontent a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: gray;
}
.maincontent a:link {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: gray;
}
.maincontent a:visited {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color: gray;
}
.maincontent a:hover {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color: gray;
}

.maincontent h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: gray;
	margin:auto;
}


.maincontent #gmap_canvas {
	margin: 0px 10px 0px 20px;
}


.footer div {
	margin-left: 165px;
}

.footer a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: gray;
	margin: 0px 10px 0px 20px;
}
.footer a:link {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: gray;
	margin: 0px 10px 0px 20px;
}
.footer a:visited {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: gray;
	margin: 0px 10px 0px 20px;
}
.footer a:hover {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: gray;
	margin: 0px 10px 0px 20px;
}

.footer p {
	margin: 150px 10px 10px 350px;
}
