@charset "utf-8";
/** {
	margin: 0px;
	padding: 0px;	
}*/
body {
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-family: Arial, Helvetica, sans-serif;
}

button {
	text-decoration: none;
}

#logo {
	max-height: 50px;
}

.controls button {
	font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls {
	width: 100% !important;
	background: #a6a6a6;
	color: #eee;
	padding: 10px;
}

label {
	font-weight: 400;
	margin: 0 .4em 0 0;
	color: black;
	font-family: 'Helvetica Neue', arial, sans-serif;
}

button {
	display: inline-block;
	padding: .4em .8em;
	background: white;
	border: 0;
	color: black;
	font-size: 16px;
	font-weight: 300;
	border-radius: 4px;
	cursor: pointer;
}

button.active {
	background: #f0f5f5;
}

button:focus {
	outline: 0 none;
}

button + label {
	margin-left: 1em;
}

.container {
	width: 100%;
	font-size: 0.1px;
	background: #f0f5f5;
	height: 100%;
	padding: 10px 5px;
	/*-webkit-backface-visibility: hidden;*/
}

.mix, .gap {
}

.mix,
.gap {
    /*width: calc(100%/2 - (((2 - 1) * 1rem) / 2));*/
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
	display: inline-block;
   	float: left;
   	overflow: hidden;
    width: 50%;
    height: 197px;
}

.mix > img {
	width: 100%;
}

.purple {
	background: blue !important;
}

.info-overlay {
	position: absolute;
	width: 100%;
	height: 29px;
	bottom: 0;
	background: rgba(255,255,255,0.8);

}

.like-button {
	background: none;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 7px;
    padding-top: 4px;
}

.trend-value {
	background: none;
    position: absolute;
    top: 5px;
    left: 10px;
    height: 25px;
}

.loading-image {
	height: 100%;
}

.like-button > span {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.5);
}
.like-button > span:hover, .like-button-active {
	color: rgba(247, 97, 79, 0.75) !important;
}

.trend-arrow {
	font-size: 14px;
	float: left;
    margin-top: 1px;
    margin-left: 5px;
}

.trend-value-number {
	font-size: 14px;
    color: black;
    float: left;
}

.venue-title {
	font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px;
}

.content > .row > .col-md-5 {
		height: initial;
	}	
@media(min-width: 768px) {
	.content > .row > .col-md-5 {
		height: 100%;
	}	
}

#content-box {
	overflow: scroll;
	display: none; 
	position: fixed;
    width: 60%;
    top: 20%;
    left: 0;
    background: white;
    padding: 40px;
    right: 0;
    margin: auto;
}

@media(max-width: 992px) {
	#content-box {
		height: 100%;
	}
}

#venue-title {
	margin-top: 0px;
}
@media(max-width: 992px) {
	#content-box {
		top: 0;
		width: 100%;
		/*height: 100%;*/
		margin-right: 15px;
	}

	#venue-title {
		margin-top: 10px;
	}
}

@media(min-width: 768px) {
	#venuesPanel {
		padding-right: 0;
	}
}

.tooltip-inner {
    max-width: 150px;
    width: 150px;
    margin-bottom: 20px;
    /*z-index: 999999;*/
}